POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=commerce
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DATABASE_URL=postgresql+psycopg://<user>:<password>@<host>:<port>/<db>
SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=30
CORS=http://localhost:5173